<body>
<h1 style="text-align:center; margin-top: 70px;">{{titulo}}</h1>
    <form [formGroup]="groupVenta">
        <mat-card appearance="outlined" class="caja_venta">
            <div class="caja">
                <div class="caja_uno">
                    <!--TIENDA CUANDO REGISTRA-->
                    <ng-container *ngIf="condicion; else tiendaModifica">
                      <mat-form-field appearance="fill" class="list" appearance="outline">
                        <mat-label>Tienda</mat-label>
                        <mat-select name="tienda" formControlName="tienda">
                          <mat-option *ngFor="let tienda of listaTienda" [value]="tienda.codigo">{{tienda.nombre}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>

                    <!--TIENDA CUANDO MODIFICA-->
                    <ng-template #tiendaModifica>
                      <mat-form-field appearance="outline" style="width: 30%;"  color="primary">
                        <mat-label>Tienda</mat-label>
                        <input matInput type="text" class="iput" style="text-align: center; font-size: 16px;" readonly value={{nombreTienda}}>
                      </mat-form-field>
                    </ng-template>

                    <!--TIPO DOCUMENTO  CUANDO REGISTRA-->
                    <ng-container *ngIf="condicion; else inputComponent">
                      <mat-form-field appearance="fill" class="list" appearance="outline" style="margin-left: 10px;">
                        <mat-label>Tipo Documento</mat-label>
                        <mat-select name="documento" formControlName="documento">
                          <mat-option value="FA" (click)="listarParametros('FA')">FACTURA</mat-option>
                          <mat-option value="BO" (click)="listarParametros('BO')">BOLETA</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>

                    <!--TIPO DOCUMENTO  CUANDO MODIFICA-->
                    <ng-template #inputComponent>
                      <mat-form-field appearance="outline" style="width: 30%;"  color="primary">
                        <mat-label>Tipo Documento</mat-label>
                        <input matInput type="text" class="iput" style="text-align: center; font-size: 16px;" readonly value={{tipoParametro}}>
                      </mat-form-field>
                    </ng-template>


                      <!--NUMERO DOCUMENTO CUANDO REGISTRA-->
                      <mat-form-field appearance="outline" style="width: 30%;"  color="primary">
                        <mat-label>Nro.Doc</mat-label>
                        <input matInput type="text" class="iput" style="text-align: center; font-size: 16px;" readonly value="{{numDoc}}">
                      </mat-form-field>


                      <!--FECHA VENTA-->
                      <mat-card appearance="outlined" class="fecha" style="background-color: var(--color-tarjeta);">
                        <mat-label style="font-size: 12px; color: rgb(165, 161, 161);">Fecha Actual</mat-label>
                        <mat-card-content contentEditable="false" style="font-size: 20px;">
                            {{ fechaActual | date:'dd/MM/yyyy' }}
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="caja_dos">
                    <button mat-raised-button class="button_venta" (click)="limpiar()" *ngIf="condicion">Limpiar</button>
                    <button mat-raised-button class="button_venta" (click)="crearVenta()" *ngIf="condicion">Terminar Venta</button>
                    <button mat-raised-button class="button_venta" (click)="modificaVenta()" *ngIf="!condicion">Actualizar Venta</button>
                </div>
            </div>
        </mat-card>

        <div class="caja">
            <!--CAJA CLIENTE-->
            <mat-card appearance="outlined" class="caja_cliente">
                <h1 style="text-align: center;">Detalle Cliente</h1>
                <div class="caja" [formGroup]="groupCliente">
                    <div class="caja_cliente_datos">
                        <div class="datos_cliente">
                            <mat-form-field appearance="outline" style="width: 65%;"  color="primary">
                                <input matInput type="text" placeholder="Nombre" class="iput" value={{nombre}} formControlName="nombre" [readonly]="condicion ? 'false' : 'true' ">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 30%;"  color="primary">
                                <mat-label>Cod. Cliente</mat-label>
                                <input matInput type="number" class="iput" formControlName="codigo" (change)="listarCliente()" style="text-align: center; font-size: 16px;"  min="0" [readonly]="condicion ? 'false' : 'true' ">
                            </mat-form-field>
                        </div>
                        <div class="caja_datos_dos">
                            <mat-form-field appearance="outline" style="width: 30%;">
                              <input matInput type="text" placeholder="Tipo Documento" value={{tDocumento}} formControlName="tipoDocumento" [readonly]="condicion ? 'false' : 'true' ">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 30%;">
                                <input matInput type="text" placeholder="Nro Documento" value={{nDocumento}} formControlName="nroDocumento" [readonly]="condicion ? 'false' : 'true' ">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 30%;">
                              <input matInput type="text" placeholder="Telefono" value={{telefono}} formControlName="telefono" [disabled]="isTable">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input matInput type="text" placeholder="Direccion" formControlName="direccion" value={{direccion}}>
                            </mat-form-field>
                        </div>
                    </div>
                    <ng-container *ngIf="condicion">
                      <div class="iconos">
                          <button mat-button type="button"  class="boton_icono" style="background-color: var(--color-tarjeta);"><mat-icon class="icon" (click)="openModal(buscarCliente)">search</mat-icon></button>
                          <button mat-button type="button"  class="boton_icono" style="background-color: var(--color-tarjeta);"><mat-icon class="icon">face</mat-icon></button>
                      </div>
                    </ng-container>

                </div>
            </mat-card>



            <!--CAJA PRODUCTO-->
            <mat-card appearance="outlined" class="caja_producto">
                <h1 style="text-align: center;">Detalle Producto</h1>
                <div class="caja" [formGroup]="groupProducto">
                    <div class="caja_producto_uno">
                        <mat-form-field appearance="outline" style="width: 80%;">
                            <mat-label>Codigo</mat-label>
                            <input matInput type="number" formControlName="codigo" style="text-align: center; font-size: 25px;" (change)="listarProducto(0)" min="0"  [readonly]="productoEdita ? 'false' : 'true' ">
                        </mat-form-field>
                        <mat-card appearance="outlined" class="fecha stock" style="background-color: var(--color-tarjeta);">
                            <mat-label style="font-size: 12px; color: rgb(165, 161, 161);">Stock</mat-label>
                            <mat-card-content contentEditable="false" style="font-size: 25px;">{{stock}}</mat-card-content>
                        </mat-card>
                    </div>
                    <div class="caja_producto_dos">
                        <div class="caja_prod">
                            <div>
                                <mat-form-field class="input" appearance="outline" style="width: 100%;">
                                    <input matInput type="text" value={{descProducto}} formControlName="descripcion" [readonly]="productoEdita ? 'false' : 'true' ">
                                </mat-form-field>
                            </div>
                            <div class="datos_producto">
                                <mat-form-field appearance="outline" style="width: 25%;">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput type="number" style="text-align: center; font-size: 25px;" formControlName="cantidad" min="1" max="{{stock}}" (input)="precioFinal()" value={{cantidad}}>
                                </mat-form-field>
                                 <mat-form-field appearance="outline" style="width: 30%;">
                                    <mat-label>Descuento</mat-label>
                                    <input matInput type="number" style="text-align: center; font-size: 25px;" min="0" max="{{descuentoMaximo}}" formControlName="descuento" (input)="precioFinal()" value={{descuento}}>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 40%;">
                                    <mat-label>Precio Sugerido</mat-label>
                                    <input matInput type="number" style="text-align: center; font-size: 25px;" value={{precioReal}} readonly formControlName="precioReal">
                                </mat-form-field>
                            </div>
                            <div class="caja_final">
                                <div>
                                    <mat-card appearance="outlined" class="fecha stock" style="width: 73%; background-color: var(--color-tarjeta);">
                                        <mat-label style="font-size: 12px; color: rgb(165, 161, 161);">Precio Final</mat-label>
                                        <mat-card-content contentEditable="false" style="font-size: 25px;">S/{{precioSugerido}}</mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="botones">
                                    <button mat-button type="button" (click)="addData()" class="btn-add" [disabled]="groupProducto.invalid" *ngIf="productoEdita">Agregar</button>
                                    <button mat-button type="button" (click)="addData()" class="btn-add" [disabled]="groupProducto.invalid" *ngIf="!productoEdita">Actualiza</button>
                                    <button mat-button type="button" (click)="salir()" class="btn-add" [disabled]="groupProducto.invalid" *ngIf="!productoEdita">Salir</button>
                                    <button mat-button type="button" (click)="openModal(buscarProducto)" *ngIf="productoEdita" class="btn-add">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <!--TABLA-->

        <div>
          <app-table [dataTable]="dataTable" [metadataTable]="metadataTable">
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row" style="background-color: var(--color-filas);">
                <button mat-button (click)="editaProducto(row)" class="eliminarFila"><mat-icon>edit</mat-icon></button>
                <button mat-button (click)="confirmAction(row)" class="eliminarFila"><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>
          </app-table>
        </div>


        <div class="caja_tres">
            <mat-form-field appearance="outline" style="width: 40%;">
                <mat-label>Sub Total</mat-label>
                <input matInput type="number" style="text-align: center; font-size: 25px;" value={{subTotal}} readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 40%;">
                <mat-label>Descuento Total</mat-label>
                <input matInput type="number" style="text-align: center; font-size: 25px;" value={{descuentoTotal}} readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 40%;">
                <mat-label>IGV</mat-label>
                <input matInput type="number" style="text-align: center; font-size: 25px;" value={{igv}} readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 40%;">
                <mat-label>Total S/.</mat-label>
                <input matInput type="number" style="text-align: center; font-size: 25px;" value={{total}} readonly>
            </mat-form-field>
        </div>
    </form>
</body>
