<h1>MANTENIMIENTO MEDIDA</h1>
<form class='acciones' [formGroup]="group">
  <div>
    <mat-form-field class="list">
      <input matInput type="text" placeholder="Descripcion Medida">
    </mat-form-field>
  </div>
  <div class="radio_contenedor">
    <mat-radio-group aria-label="Select an option" class="radio">
      <mat-radio-button value="A" color="primary">Activo</mat-radio-button>
      <mat-radio-button value="I" color="primary">Inactivo</mat-radio-button>
    </mat-radio-group>
  </div>
</form>

<!--Botones-->
<div class="botones">
  <div class="botones_contenedor">
    <button mat-raised-button color="primary">Buscar</button>
    <button mat-raised-button color="primary" (click)="openModal()">Agregar</button>   
    <button mat-raised-button color="primary">Salir</button>   
  </div>
</div>

