<h1>MANTENIMIENTO PRODUCTO</h1>
<div class='acciones'>
    <div class="alinear">
      <mat-form-field class="list">
        <input matInput type="text" placeholder="Descripcion Producto">
      </mat-form-field>
    </div>
    <div class="alinear">
      <mat-form-field class="list">
        <mat-select [(value)]="colores">
          <mat-option value="colores">Todos los Colores</mat-option>
          <mat-option value="option2">Rojo</mat-option>
          <mat-option value="option3">Azul</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="alinear">
      <mat-form-field class="list">
        <mat-select [(value)]="tallas">
          <mat-option value="tallas">Todas las Tallas</mat-option>
          <mat-option value="1">XL</mat-option>
          <mat-option value="2">M</mat-option>
          <mat-option value="3">S</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="alinear">
      <mat-form-field class="list">
        <mat-select [(value)]="prendas">
          <mat-option value="prendas">Todas las Prendas</mat-option>
          <mat-option value="1">Polo</mat-option>
          <mat-option value="2">Blusa</mat-option>
          <mat-option value="3">Camisa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="alinear">
      <mat-form-field class="list">
        <mat-select [(value)]="genero">
          <mat-option value="genero">Todos los Generos</mat-option>
          <mat-option value="1">Polo</mat-option>
          <mat-option value="2">Blusa</mat-option>
          <mat-option value="3">Camisa</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="radio_contenedor">
      <mat-radio-group aria-label="Select an option" class="radio">
        <mat-radio-button value="1" color="primary">Activo</mat-radio-button>
        <mat-radio-button value="2" color="primary">Inactivo</mat-radio-button>
      </mat-radio-group>
    </div>
</div>

<!--Botones-->
<div class="botones">
  <div class="botones_contenedor">
    <button mat-raised-button color="primary">Buscar</button>
    <button mat-raised-button color="primary" (click)="openModal()">Agregar</button>   
    <button mat-raised-button color="primary">Salir</button>   
  </div>
</div>
