/* .tabla{
    background-color: red;
} */
.cabecera{
    font-size: 50px;
    background-color: var(--color-primary);
}
.highline{
    text-align: center;
}
.highline:hover {
    background-color:grey;
}
.centro{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

td{
    background-color: var(--color-filas);
    color: var(--color-texto);
    align-content:center ;
    text-align: center;
}
table{
    width: 99%;
    margin: 0 auto;
}
