/* .tabla{
    background-color: red;
} */
.cabecera{
    background-color: var(--color-primary);
}
.highline{
    text-align: center;
}
.highline:hover {
    background-color:grey;
}
.centro{
    text-align: center;
}