.botones{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.boton{
  background-color: var(--color-boton);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  width: 100%;
  width: var(--button-size);
  height: var(--button-size);
}

.boton:hover{
  background-color: var(--color-hover);
}
