<h1>MANTENIMIENTO MENU</h1>
<div class='acciones'>
    <div>
        <input type="text" placeholder="Descripcion Menu" class="list">
    </div>

    <div>
        <select class="form-select" aria-label="Default select example" class="list">
        <option selected> Todos los Menus</option>
        <option value="1">MenuA1</option>
        <option value="2">MenuA2</option>
        <option value="3">MenuA3</option>
        </select>
    </div>
    
    <div>
        <label for="activo"> Activo</label>
        <input type="radio" id="activo" name="estado">
    </div>
    <div>
        <label for="inactivo"> Inactivo</label>
        <input type="radio" id="inactivo" name="estado">
    </div>
</div>

<!--Botones-->
<div class="botones">
    <button mat-raised-button color="primary">Buscar</button>
    <button mat-raised-button color="primary" (click)="openModal()">Agregar</button>   
    <button mat-raised-button color="warn">Salir</button>   
</div>
  <!--TABLA-->
  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">
    <!-- codigo Usuario-->
    <ng-container matColumnDef="codUsuario">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Cod.Usuario</th>
      <td mat-cell *matCellDef="let element" class="contenido">{{element.codUsuario}}</td>
    </ng-container>
  
    <!-- Usuario-->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Usuario</th>
      <td mat-cell *matCellDef="let element" class="contenido">{{element.usuario}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle" contTitle>Rol</th>
      <td mat-cell *matCellDef="let element" class="contenido">{{element.rol}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Estado</th>
      <td mat-cell *matCellDef="let element" class="contenido">{{element.estado}}</td>
    </ng-container>
    
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Menu</th>
      <td mat-cell *matCellDef="let element" class="contenido">{{element.menu}}</td>
    </ng-container>

    <ng-container matColumnDef="opciones" class="contenedor">
      <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Opciones</th>
      <td mat-cell *matCellDef="let element" class="contenido">
        <div class="opciones">
          <mat-icon>create</mat-icon><mat-icon>delete</mat-icon>
        </div>
      </td>
    </ng-container>

    
    <mat-header-row *matHeaderRowDef="displayedColumns" class="contenedor"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>