.botones{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.buscar{
    display: flex;
    justify-content: space-between;
}

.boton{
  background-color: var(--color-boton);
  color: white;
}

.boton:hover{
  background-color: var(--color-hover);
}
