<h1>REGISTRO PERSONAL</h1>
<div class="acciones">
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Nombre del Personal">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Apellidos del Personal">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="DNI">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <mat-select [(value)]="area">
              <mat-option value="area" disabled>Elige un Area</mat-option>
              <mat-option value="option2">RRHH</mat-option>
              <mat-option value="option3">RRHH</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="fecha">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Telefono">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Sueldo">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Direccion">
          </mat-form-field>
    </div>
    <div class="sMenu">
        <mat-form-field class="fecha">
            <mat-label>Fecha Ingreso</mat-label>
            <input matInput [matDatepicker]="ingreso">
            <mat-datepicker-toggle matIconSuffix [for]="ingreso"></mat-datepicker-toggle>
            <mat-datepicker #ingreso startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="estado">
        <mat-radio-group aria-label="Select an option" class="radio">
            <mat-radio-button value="1" color="primary">Activo</mat-radio-button>
            <mat-radio-button value="2" color="primary">Inactivo</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div class="botones">
    <button mat-raised-button color="primary">Limpiar</button>
    <button mat-raised-button color="primary">Agregar</button>   
    <button mat-raised-button color="primary">Guardar</button>   
    <button mat-raised-button color="warn" (click)="closeModal()">Salir</button> 
</div>

<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">
    <ng-container matColumnDef="personal">
        <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Personal</th>
        <td mat-cell *matCellDef="let element" class="contenido">{{element.personal}}</td>
    </ng-container>    

    <ng-container matColumnDef="opciones" class="contenedor">
        <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Opciones</th>
        <td mat-cell *matCellDef="let element" class="contenido">
          <div class="opciones">
            <mat-icon>delete</mat-icon>
          </div>
        </td>
      </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns" class="contenedor"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>