mat-sidenav-container, mat-sidenav {
  height: 100vh;
}

.content {
  /* padding: 16px; */
  height: calc(100% - 64px);
  position: absolute;
}

mat-sidenav-container {
  overflow-y: hidden;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}
