<h1>REGISTRO LOTES</h1>
<form [formGroup]="group" class="acciones">
    <div class="sMenu">
        <mat-form-field class="list">
            <input matInput type="text" placeholder="Descripcion Lote" formControlName="descripcion">
          </mat-form-field>
    </div>
    <div class="estado">
        <mat-radio-group aria-label="Select an option" class="radio" formControlName="radio">
            <mat-radio-button value="A" color="primary">Activo</mat-radio-button>
            <mat-radio-button value="I" color="primary">Inactivo</mat-radio-button>
          </mat-radio-group>
    </div>
</form>
<div class="botones">
    <button mat-raised-button color="primary" (click)="clear()">Limpiar</button>
    <button mat-raised-button color="primary" (click)="mostrarLista()">Agregar</button>   
    <button mat-raised-button color="primary" (click)="guardalote()">Guardar</button>   
    <button mat-raised-button color="primary" (click)="closeModal()">Salir</button> 
</div>
