<h1>REGISTRO ROLES</h1>
<div class="acciones">
    <div>
        <label for="desMenu">Usuario: </label>
        <input type="text" id="desMenu" class="input">
    </div>
    <div class="sMenu">
        <label>Rol: </label>
        <select class="form-select" aria-label="Default select example" class="input">
            <option selected>Roles</option>
            <option value="1">Rol1</option>
            <option value="2">Rol2</option>
            <option value="3">Rol3</option>
        </select>
    </div>
    <div class="sMenu">
        <label>Menu: </label>
        <select class="form-select" aria-label="Default select example" class="input">
            <option selected>Menus</option>
            <option value="1">MenuA1</option>
            <option value="2">MenuA2</option>
            <option value="3">MenuA3</option>
        </select>
    </div>
    <div class="estado">
        <label>Estado: </label>
        <div class="radio">
            <div>
                <label for="a">Activo</label>
                <input type="radio" id="a" name="estado">
            </div>
            <div>
                <label for="i">Inactivo</label>
                <input type="radio" id="i" name="estado">
            </div>
        </div>
    </div>
</div>
<div class="botones">
    <button mat-raised-button color="primary">Limpiar</button>
    <button mat-raised-button color="primary">Agregar</button>   
    <button mat-raised-button color="primary">Guardar</button>   
    <button mat-raised-button color="warn" (click)="closeModal()">Salir</button> 
</div>

<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">
    <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Menus</th>
        <td mat-cell *matCellDef="let element" class="contenido">{{element.menu}}</td>
    </ng-container>
    
    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Roles</th>
        <td mat-cell *matCellDef="let element" class="contenido">{{element.rol}}</td>
    </ng-container>    

    <ng-container matColumnDef="opciones" class="contenedor">
        <th mat-header-cell *matHeaderCellDef class="contenido contTitle">Opciones</th>
        <td mat-cell *matCellDef="let element" class="contenido">
          <div class="opciones">
            <mat-icon>delete</mat-icon>
          </div>
        </td>
      </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns" class="contenedor"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>