<mat-toolbar   fxLayout fxLayoutAlign="space-between left">
     
  <div fxLayout="row"  fxLayoutGap="20px" fxLayoutAlign="center center">
    <button mat-mini-fab color="" class="icon-padding" (click)="start.toggle()" aria-label="Example icon button with a menu icon" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img  width="150px" height="100%" src="./assets/Img/LogoKopito.png">
   
  </div>

   <!-- This fills the remaining space of the current row -->

   <div fxLayout="row"  fxLayoutGap="20px" >
    <mat-form-field >
        <mat-select [(value)]="selected1"color='primary'>
          <mat-option  value="light-theme" (click)="onSetTheme('light-theme')">Light</mat-option>
          <mat-option  value="dark-theme" (click)="onSetTheme('dark-theme')">Dark</mat-option>
          <mat-option  value="vivo-theme" (click)="onSetTheme('vivo-theme')">Vivo</mat-option>
        </mat-select>
      </mat-form-field>
   </div>
  <!-- BOTONES-->
    
   <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <div fxLayout = "row" fxLayoutAlign="start center" class="title" fxLayoutGap="50px"> 
           Empresa:   {{nombreempresa}}
      </div>

      <div fxLayout = "row" fxLayoutAlign="start center" class="title" fxLayoutGap="50px"> 
          <mat-icon>face</mat-icon>
                      {{nombreusuario}}                                  
      </div>
      
          <div>
              <button  class= "title" mat-button (click) = logout()  matTooltip="Cerrar Session" >
                 <mat-icon>exit_to_app</mat-icon>   
              </button>
          </div>
    </div>
</mat-toolbar>



<mat-sidenav-container class="sidenav-container" >

   <mat-sidenav style="background-color: aqua;" class="mat-elevation-z10" #start [opened]="open" fixedTopGap="64"  fixedInViewport="true" style="width:300px;background-color:#f3f0f0;">
       <app-menu></app-menu>      
   </mat-sidenav>

     <mat-sidenav-content style="margin-top:0px;">
       <div style="margin: 10px;">
           <router-outlet></router-outlet>
       </div>
      

   </mat-sidenav-content>

</mat-sidenav-container>




